<h1>İşlerim</h1>

<table class="table">
  <tbody>
    <% @tasks.each do |task| %>
      <% if task.done %>
        <tr>
          <td><%= task.name %></td>
          <td><%= task.content %></td>
          <td><%= task.deadline %></td>
          <td><%= "Tamamlandı." %></td>
          <td>
            <form action="/tasks/<%= task.id %>" method="POST">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="sil"/>
            </form>
          </td>
        </tr>
        <% else %>
        <tr>
          <td><%= task.name %></td>
          <td><%= task.content %></td>
          <td><%= task.deadline %></td>
          <td><%= "Tamamlanmadı." %></td>
          <td>
            <form action="/tasks/<%= task.id %>" method="POST">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="sil"/>
            </form>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to "Yeni iş ekle", new_task_path %>
